In [14]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\kavisha\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kavisha\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [29]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

now we will download the webdriver for the webbrowser
1. check the version of your browser 
go to the link https://chromedriver.chromium.org/downloads 
    download the webdriver for your version of your browser

In [30]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [31]:
driver.get("https://www.naukri.com/")

In [32]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [33]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [34]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [35]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [36]:
#scrapping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [37]:
#scrapping job location from the given page

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [38]:
#scrapping company name from the given page

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [39]:
#scrapping job experience from the given page

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [40]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
#creating DataFrame from the above data

import pandas as pd
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

Empty DataFrame
Columns: [Job_title, Job_location, company_name, experience_required]
Index: []

In [41]:
#to fetch url

url = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="c72c71186aabeaeac54fb5867a9dad77", element="93fd2398-ebed-49bf-8abb-3efc2c6a1422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c72c71186aabeaeac54fb5867a9dad77", element="e59814f9-d73a-4790-a13f-810fc11fac0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c72c71186aabeaeac54fb5867a9dad77", element="c13d4900-575c-4aeb-a626-403fc4d358ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c72c71186aabeaeac54fb5867a9dad77", element="abb013f6-2aa8-4aa0-b9ec-c4aed94a61ca")>]

In [42]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501110
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-3-to-5-years-091222501109
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501111
https://www.naukri.com/job-listings-senior-data-analyst-ii-flipkart-internet-private-limited-bangalore-bengaluru-2-to-4-years-051222905310

In [43]:
job_titles = []

In [44]:
start=0
end=2
for page in range(start,end):
    titles= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

In [36]:
len(job_titles)

40

In [38]:
job_titles

['Senior Data Analyst II',
 'Project Data Analyst',
 'Data Analyst, Business Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst / Product Analyst / Business Analyst',
 'Senior Data Analyst - Data Modeling/Quality',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst',
 'Sr . Data Analyst',
 'Data Analyst',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Senior Analyst - Data Management',
 'Data Analyst - SQL',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Intern - Data Analyst',
 'Analyst- Web Data Management',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analyst',
 'Data Analyst | Bangalore | 5+ Yrs | Work from Office',
 'Data Analyst',
 'Data Analyst - SQL',
 'Data Analyst',
 'Sr Data Analyst - Tableau',
 'Data Analyst/Sr Data Analyst',
 'Data Analyst',
 'Financial Data Analyst',
 'Data and Analytics Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / 4 - 7 years / Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - GAMMA',
 'Business Data Analyst 1']

# question 2

In [89]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [90]:
driver.get("https://www.naukri.com/")

In [91]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [92]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [93]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [94]:
job_title = []
job_location = []
company_name = []

In [95]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [96]:
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [97]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [98]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [99]:
#creating DataFrame from the above data

import pandas as pd
df1 = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name})
df1

,Job_title,Job_location,company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
2,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
3,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree Limited
5,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
7,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture
8,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
9,Lead Data Scientist,Bangalore/Bengaluru,Caterpillar Inc

# question 3

In [49]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [50]:

driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [51]:
driver.get("https://www.naukri.com/")

In [52]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [53]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [54]:
#applying filters

loc_filter=driver.find_elements(By.XPATH,'//div[@class="mt-8 chckBoxCont"]')


for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [55]:
sal_filter=driver.find_elements(By.XPATH,'//div[@class="mt-8 chckBoxCont"]')
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [56]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [57]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [58]:
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [59]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [60]:
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [61]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [62]:
import pandas as pd
df2 = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df2

,Job_title,Job_location,company_name,experience_required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group,7-10 Yrs
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd,5-12 Yrs
5,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
6,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
7,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
8,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs

# question 4

In [82]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [83]:
driver.get(" https://www.flipkart.com/")

In [84]:
search_product = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_product.send_keys("sunglasses")

In [85]:
search_btn = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn.click()

In [86]:
brand_tit = []
product_tit = []
price_tit = []
discount_tit = []

In [93]:
brand_title = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_title[0:100]:
    brand= i.text
    brand_tit.append(brand)

In [94]:
product_title = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_title[0:100]:
    product = i.text
    product_tit.append(product)

In [95]:
price_title = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_title[0:100]:
    price = i.text
    price_tit.append(price)

In [96]:
discount_title =  driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_title[0:100]:
    discount = i.text
    discount_tit.append(discount)

In [99]:
brand_tit

['LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'PHENOMENAL',
 'Silver Kartz',
 'Elligator',
 'SHAAH COLLECTIONS',
 'Silver Kartz',
 'Elligator',
 'Fastrack',
 'Elligator',
 'SRPM',
 'Elligator',
 'New Specs',
 'LIZA ANGEL',
 'Fastrack',
 'Fastrack',
 'SRPM',
 'LIZA ANGEL',
 'PIRASO',
 'SUNBEE',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'Fastrack',
 'Elligator']

In [100]:
product_tit

['Aviator, Clubmaster, Oval, Rectangular, Retro Square, R...',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Wayfarer, Sports, Round, Retro Square, Rectangular, Ove...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Round Sunglasses',
 'Wayfarer, Sports, Round, Retro Square, Rectangular, Ove...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'Aviator, Clubmaster, Rectangular, Retro Square, Round, ...',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'Riding Glasses, UV Protection, Night Vision Spectacle ...',
 'UV Protection Aviator Sunglasses (54)',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'Aviator, Clubmaster, Oval, Rectangular, Retro Square, R...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Cat-eye Sunglasses',
 'Aviator, Clubmaster, Oval, Over-sized, Rectangular, Ret...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)']

In [101]:

price_tit

['‚Çπ549',
 '‚Çπ549',
 '‚Çπ129',
 '‚Çπ489',
 '‚Çπ599',
 '‚Çπ149',
 '‚Çπ129',
 '‚Çπ278',
 '‚Çπ129',
 '‚Çπ159',
 '‚Çπ549',
 '‚Çπ284',
 '‚Çπ149',
 '‚Çπ539',
 '‚Çπ149',
 '‚Çπ149',
 '‚Çπ179',
 '‚Çπ549',
 '‚Çπ286',
 '‚Çπ259',
 '‚Çπ549',
 '‚Çπ599',
 '‚Çπ129',
 '‚Çπ599',
 '‚Çπ539',
 '‚Çπ179',
 '‚Çπ549',
 '‚Çπ549',
 '‚Çπ129',
 '‚Çπ257',
 '‚Çπ549',
 '‚Çπ549',
 '‚Çπ283',
 '‚Çπ479',
 '‚Çπ128',
 '‚Çπ209',
 '‚Çπ249',
 '‚Çπ549',
 '‚Çπ669',
 '‚Çπ149',
 '‚Çπ549‚Çπ2,69979% off',
 '‚Çπ549‚Çπ2,69979% off',
 '‚Çπ129‚Çπ99987% off\nFree delivery',
 '‚Çπ489‚Çπ79938% off',
 '‚Çπ599‚Çπ99940% off\nFree delivery',
 '‚Çπ149‚Çπ59975% off\nFree delivery',
 '‚Çπ129‚Çπ99987% off\nFree delivery',
 '‚Çπ278‚Çπ1,49981% off\nFree delivery',
 '‚Çπ129‚Çπ99987% off',
 '‚Çπ159‚Çπ1,69990% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ284‚Çπ1,49981% off\nFree delivery',
 '‚Çπ149‚Çπ99985% off',
 '‚Çπ539‚Çπ89940% off\nFree delivery',
 '‚Çπ149‚Çπ99885% off\nFree delivery',
 '‚Çπ149‚Çπ1,29988% off\nFree delivery',
 '‚Çπ179‚Çπ49964% off',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ286‚Çπ2,49588% off',
 '‚Çπ259‚Çπ2,59990% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off',
 '‚Çπ599‚Çπ1,99970% off',
 '‚Çπ129‚Çπ99987% off',
 '‚Çπ599‚Çπ99940% off\nFree delivery',
 '‚Çπ539‚Çπ89940% off\nFree delivery',
 '‚Çπ179‚Çπ99982% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ129‚Çπ49974% off\nFree delivery',
 '‚Çπ257‚Çπ1,59983% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ283‚Çπ1,29978% off\nFree delivery',
 '‚Çπ479‚Çπ79940% off',
 '‚Çπ128‚Çπ99987% off\nFree delivery',
 '‚Çπ209‚Çπ1,59986% off\nFree delivery',
 '‚Çπ249‚Çπ1,29980% off\nFree delivery',
 '‚Çπ549‚Çπ2,69979% off\nFree delivery',
 '‚Çπ669‚Çπ89925% off\nFree delivery',
 '‚Çπ149‚Çπ1,19987% off\nFree delivery']

In [102]:
discount_tit

['79% off',
 '79% off',
 '87% off',
 '38% off',
 '40% off',
 '75% off',
 '87% off',
 '81% off',
 '87% off',
 '90% off',
 '79% off',
 '81% off',
 '85% off',
 '40% off',
 '85% off',
 '88% off',
 '64% off',
 '79% off',
 '88% off',
 '90% off',
 '79% off',
 '70% off',
 '87% off',
 '40% off',
 '40% off',
 '82% off',
 '79% off',
 '79% off',
 '74% off',
 '83% off',
 '79% off',
 '79% off',
 '78% off',
 '40% off',
 '87% off',
 '86% off',
 '80% off',
 '79% off',
 '25% off',
 '87% off',
 '79% off',
 '79% off',
 '87% off',
 '38% off',
 '40% off',
 '75% off',
 '87% off',
 '81% off',
 '87% off',
 '90% off',
 '79% off',
 '81% off',
 '85% off',
 '40% off',
 '85% off',
 '88% off',
 '64% off',
 '79% off',
 '88% off',
 '90% off',
 '79% off',
 '70% off',
 '87% off',
 '40% off',
 '40% off',
 '82% off',
 '79% off',
 '79% off',
 '74% off',
 '83% off',
 '79% off',
 '79% off',
 '78% off',
 '40% off',
 '87% off',
 '86% off',
 '80% off',
 '79% off',
 '25% off',
 '87% off']

# question 5

In [103]:
ratings = []
reviews = []
review_summary = []

In [104]:
ratings_title = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_title[0:10]:
    title = i.text
    ratings.append(title)

In [105]:
reviews_titles = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviews_titles[0:10]:
    title=i.text
    reviews.append(title)

In [106]:
summary_title = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in summary_title[0:10]:
    title = i.text
    review_summary.append(title)

In [107]:
print(len(ratings),len(reviews),len(review_summary))

8 10 10

In [108]:
df5 = pd.DataFrame({'reviews':reviews,'review_summary':review_summary})
df5

               reviews                                     review_summary
0                 Good  product is good , nice colour and packaging bu...
1          Pretty good  Although the glass frames are medium in size b...
2       Classy product                               Excellent product üëçüëç
3       Classy product                               Excellent product üëçüëç
4    Terrific purchase  Excellent..its a unisex glass so it looks very...
5          Good choice  In this prize this product is awesome slightly...
6             Not good  Flipkart provide simple paper Case for sunglas...
7             Not good             Nice product but not a sun glass cover
8  Best in the market!  Really same to same and really nice best quali...
9  Best in the market!  Really same to same and really nice best quali...

In [109]:
df6 = [{'ratings':ratings}]
df6

[{'ratings': ['3', '4', '5', '5', '5', '4', '5', '5']}]

# question 6

# on next notebook