# question 6

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [4]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
search_product = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search_product.send_keys("sneakers")

In [8]:
search_btn = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn.click()

In [29]:
brand_name = []
product_description = []
price_val = []

In [30]:
brand_title =  driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_title[0:200]:
    brand= i.text
    brand_name.append(brand)

In [31]:
product_title= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_title[0:200]:
    product = i.text
    product_description.append(product)

In [32]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tag[0:200]:
    price = i.text
    price_val.append(price)

In [33]:
print(len(brand_name),len(product_description),len(price_val))

40 40 40

In [34]:
import pandas as pd

In [36]:
df6 = pd.DataFrame({"brand_name":brand_name,'product_description':product_description,'price_vale':price_val})
df6

,brand_name,product_description,price_vale
0,RapidBox,Stylish & Trendy Sneakers For Men,₹599
1,U.S. POLO ASSN.,MADRYN 2.O Sneakers For Men,"₹1,869"
2,Labbin,Sneakers For Men,₹399
3,Shozie,Sneakers For Men,₹295
4,Kzaara,Sneakers For Men,₹229
5,SFR,PLANCK Smart Grey Lace-Ups Casuals Sneakers Sn...,₹209
6,SFR,FAST Trenddy Tainer Lace-ups Sporty Casuals Sn...,₹299
7,HOTSTYLE,Stylish & Trendy Sneakers For Men,₹399
8,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹359
9,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹249
10,kardam&sons,Fashionable Canvas Casual Partywear Outdoor Sn...,₹474
11,Mast & Harbour,Sneakers For Men,₹824
12,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299
13,SFR,Sneakers For Men,₹269
14,SCATCHITE,Sneakers Sneakers For Men,₹360
15,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹259
16,RapidBox,Sneakers For Men,₹599
17,PUMA,Mirage Sport Tech Sneakers For Men,"₹3,599"
18,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹449
19,Deals4you,Sneakers For Women,₹299
20,RED CHIEF,RC3522 107 Sneakers For Men,"₹2,804"
21,kardam&sons,Canvas Casual Partywear Outdoor Shoes For Boys...,₹499
22,Bond Street By Red Tape,High Top Sneakers For Men,"₹1,324"
23,Rzisbo,Sneakers For Men,₹549
24,SFR,PLANCK Smart Red Lace-Ups Casuals Sneakers Sne...,₹209
25,asian,WATERPROOF-05cFULLWHITE Sneakers For Men,₹657
26,ANTA,A-Shock Sneakers For Men,"₹4,509"
27,Footox,Walking Shoes for Men | Running Shoes | Casual...,₹499
28,PUMA,RS-Connect Ombre T Sneakers For Men,"₹3,850"
29,GVR,Sneakers For Men,₹597
30,Kraasa,Sneakers For Women,₹299
31,bacca bucci,ILLUSION Hi-Top Street Fashion Sneakers with R...,"₹1,799"
32,TR,Sneakers For Men,₹389
33,Shozie,Sneakers For Men,₹419
34,Asian Shoes,Future-04 casual shoes for men | Latest Stylis...,₹449
35,Asian Shoes,Future-04 casual shoes for men | Latest Stylis...,₹449
36,ANTA,Sneakers For Men,"₹3,299"
37,ANTA,ULTRA GROOVE Sneakers For Men,"₹2,024"
38,Robbie jones,Sneakers For Men,₹439
39,Robbie jones,Sneakers For Men,₹439

In [ ]:
start=0
end=2
for page in range(start,end):
    titles= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

In [37]:
brand_name = []
product_description = []
price_val = []

In [38]:
start=0
end=2
for page in range(start,end):
    titles= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brand_name.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [39]:
brand_name

['RapidBox',
 'ANTA',
 'World Wear Footwear',
 'SFR',
 'aadi',
 'PORT',
 'Allen Cooper',
 'asian',
 'RED TAPE',
 'RED TAPE',
 'ANTA',
 'ANTA',
 'RapidBox',
 'PUMA',
 'Dicy',
 'RED TAPE',
 'ANTA',
 'Strollin',
 'FOOBON',
 'RINDAS',
 'VENDOZ',
 'Layasa',
 'RapidBox',
 'RapidBox',
 'ASTEROID',
 'Magnolia',
 'PUMA',
 'U.S. POLO ASSN.',
 'Deals4you',
 'Robbie jones',
 'U.S. POLO ASSN.',
 'ANTA',
 'RED TAPE',
 'Sparx',
 'Dizzler',
 'TRENDUTY',
 'Mzzideko',
 'Zixer',
 'BRUTON',
 'Kzaara',
 'Sparx',
 'Shozie',
 'Labbin',
 'Shozie',
 'Kzaara',
 'SFR',
 'SFR',
 'LishTree',
 'aadi',
 'BRUTON',
 'ANTA',
 'ANTA',
 'BRUTON',
 'SFR',
 'SCATCHITE',
 'World Wear Footwear',
 'PUMA',
 'PUMA',
 'Kraasa',
 'Deals4you',
 'T-ROCK',
 'asian',
 'Bond Street By Red Tape',
 'Rzisbo',
 'SFR',
 'asian',
 'U.S. POLO ASSN.',
 'Layasa',
 'PUMA',
 'GVR',
 'ANTA',
 'CAMPUS',
 'TR',
 'Shozie',
 'Asian Shoes',
 'Asian Shoes',
 'ANTA',
 'U.S. POLO ASSN.',
 'Robbie jones',
 'Robbie jones']

In [42]:
start=0
end=2
for page in range(start,end):
    titles= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles:
        product_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [43]:
product_description

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Court Vision Low Better Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Canvas Casual Partywear Outdoor Shoes For Boys Sneakers...',
 'ILLUSION Hi-Top Street Fashion Sneakers with Rubber Out...',
 'Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Sneakers For Men',
 'ULTRA GROOVE Sneakers For Men',
 'Mirage Sport Tech Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'LITTLE MILENNIUM Sneakers For Men',
 'A-Fly Sneakers For Men',
 'Casual Sneakers White Shoes For Boys And Men Sneakers F...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '91CLOUD Sneakers For Men',
 'MIX1. Sneakers For Men',
 'Sneakers For Women',
 'PLANCK Smart Blue Lace-Ups Casuals Sneakers Sneakers Fo...',
 'Sneakers For Men',
 'MIX3. Sneakers For Men',
 'Canvas Casual Partywear Outdoor Shoes For Boys Sneakers...',
 'PLANCK Smart Sky Lace-Ups Casuals Sneakers Sneakers For...',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Skye Clean Distressed Sneakers For Women',
 'BRENTT 2.0 Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Sneakers For Men',
 'RTE3673 Sneakers For Men',
 'Sneakers For Men',
 'Stylish & Trending Collection Textured Comfortable Snea...',
 'STREET Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'Synthetic Leather Casual Partywear Pvc Sole Shoes For M...',
 'STREET Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'PLANCK Smart Grey Lace-Ups Casuals Sneakers Sneakers Fo...',
 'FAST Trenddy Tainer Lace-ups Sporty Casuals Sneakers Fo...',
 'Sneakers For Women',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'LUCY Sneakers For Men',
 'LITTLE G6 Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'LITTLE MILENNIUM Sneakers For Men',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Women',
 'MAPF1 A3ROCAT Mid Sneakers For Men',
 'High Top Sneakers For Men',
 'Sneakers For Men',
 'PLANCK Smart Red Lace-Ups Casuals Sneakers Sneakers For...',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Venus Sneakers For Women',
 'Advantage Genz Sneakers For Men Sneakers For Men',
 'RS-Connect Ombre T Sneakers For Men',
 'Sneakers For Men',
 'Jada Renew Sneakers For Women',
 'Wired SlipOn Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [44]:
start=0
end=2
for page in range(start,end):
    titles= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in titles:
        price_val.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [45]:
price_val

['₹599',
 '₹299',
 '₹299',
 '₹3,047',
 '₹299',
 '₹549',
 '₹664',
 '₹499',
 '₹799',
 '₹399',
 '₹1,799',
 '₹3,299',
 '₹3,599',
 '₹599',
 '₹849',
 '₹599',
 '₹2,024',
 '₹1,997',
 '₹399',
 '₹349',
 '₹2,863',
 '₹1,912',
 '₹499',
 '₹299',
 '₹209',
 '₹259',
 '₹3,142',
 '₹3,124',
 '₹209',
 '₹499',
 '₹2,884',
 '₹449',
 '₹399',
 '₹1,249',
 '₹1,143',
 '₹599',
 '₹494',
 '₹2,009',
 '₹1,750',
 '₹399',
 '₹1,749',
 '₹1,799',
 '₹399',
 '₹295',
 '₹229',
 '₹209',
 '₹299',
 '₹424',
 '₹359',
 '₹249',
 '₹448',
 '₹2,884',
 '₹299',
 '₹269',
 '₹360',
 '₹259',
 '₹2,023',
 '₹449',
 '₹449',
 '₹299',
 '₹473',
 '₹4,999',
 '₹1,324',
 '₹549',
 '₹209',
 '₹657',
 '₹2,520',
 '₹1,329',
 '₹3,850',
 '₹597',
 '₹1,739',
 '₹699',
 '₹389',
 '₹419',
 '₹449',
 '₹449',
 '₹2,640',
 '₹1,709',
 '₹439',
 '₹439']

# question 7

In [46]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [47]:
driver.get("https://www.amazon.in/")

In [49]:
designation = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
designation.send_keys('Laptop')

In [51]:
search = driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search.click()

In [52]:
filter1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[10]/span/a/span')
filter1.click

In [53]:
lap_title = []
lap_rating = []
lap_price = []

In [55]:
laptop_title = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in laptop_title[0:10]:
    laptop = i.text
    lap_title.append(laptop)

In [56]:
laptop_rating = driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in laptop_rating[0:10]:
    laptop = i.text
    lap_rating.append(laptop)

In [57]:
laptop_price =driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in laptop_price[0:10]:
    laptop = i.text
    lap_price.append(laptop)

In [58]:
print(len(lap_title),len(lap_rating),len(lap_price))

10 10 10

In [59]:
df7 = pd.DataFrame({'title':lap_title,'rating':lap_rating,'price':lap_price})
df7

                                               title rating     price
0  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  (4.4)    82,490
1  Acer Swift 5 Intel Evo Premium 14 Inches Full ...  (4.2)  1,05,385
2  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...  (3.3)    24,935
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  (4.0)    95,546
4  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...  (3.9)    79,990
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...  (2.4)    22,999
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  (4.2)    89,000
7  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  (3.9)    57,990
8  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  (4.3)    65,990
9  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...  (4.4)    79,990

# question 8

In [61]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [62]:
driver.get("https://www.azquotes.com/")

In [63]:
designation = driver.find_element(By.XPATH,'//input[@class="ui-autocomplete-input"]')
designation.send_keys('TOP 100 Quotes')

In [68]:
top = driver.find_element(By.XPATH,'//a[@class="gs-title"]')
top.click()

In [70]:
Quote_title = []
Author_name = []
Quotes_type = []

In [71]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in title_tags[0:100]:
    title = i.text
    Quote_title.append(title)

In [73]:
author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author = i.text
    Author_name.append(author)

In [76]:
quote_tags = driver.find_elements(By.XPATH,'//div[@class="mytags"]')
for i in quote_tags[0:100]:
    quote= i.text
    Quotes_type.append(quote)

In [78]:
print(len(Quote_title),len(Author_name),len(Quotes_type))

25 25 25

In [82]:
df8 = pd.DataFrame({'title':Quote_title,'author':Author_name,'type':Quotes_type})
df8

,title,author,type
0,It is the mark of an educated mind to be able ...,Aristotle,"Inspirational, Motivational, Leadership"
1,"If you think you can't, you're right.",Carol Bartz,"Inspirational, Positive, Smart"
2,Be the trouble you want to see in the world.,Joey Comeau,"Inspirational, Motivational, Change"
3,The best thing you can do is follow your dreams,The Rev,"Motivational, Change, Positive"
4,Build what you want to see in the world.,Jack Dorsey,"Inspirational, Motivational, Change"
5,Living well is the best revenge.If opportunity...,Max Eastman,"Inspirational, Motivational, Graduation"
6,What we got here is a failure to communicate.,Paul Newman,"Movie, Communicate, All Time Greatest"
7,Hokey religions and ancient weapons are no mat...,Harrison Ford,"War, Kids, Your Side"
8,Plan ahead: It wasn't raining when Noah built ...,Richard Cushing,"Inspirational, Rain, Planning Ahead"
9,Twenty years from now you will be more disappo...,"H. Jackson Brown, Jr.","Inspirational, Life, Motivational"
10,Happiness is a way of travel – not a destination.,Roy M. Goodman,"Inspirational, Positive, Happiness"
11,Be the change you want to see in your networks,James H. Fowler,"Inspirational, Motivational, Change"
12,"If opportunity doesn't knock, build a door.",Milton Berle,"Inspirational, Motivational, Change"
13,"When I stand before God at the end of my life,...",Erma Bombeck,"Inspirational, Life, Motivational"
14,Animation can explain whatever the mind of man...,Walt Disney,"Inspirational, Motivational, Positive"
15,Be the compromise you want to see in the world.,Mahatma Gandhi,"Inspirational, Motivational, Change"
16,"Choose a job you love, and you will never have...",Confucius,"Love, Inspirational, Life"
17,All your dreams can come true if you have the ...,Walt Disney,"Inspirational, Life, Motivational"
18,You cannot be lonely if you like the person yo...,Wayne Dyer,"Confidence, Lonely, Clever"
19,People will never forget how you made them feel.,Maya Angelou,"Inspirational, Motivational, Positive"
20,Definiteness of purpose is the starting point ...,W. Clement Stone,"Inspirational, Motivational, Positive"
21,A person who never made a mistake never tried ...,Albert Einstein,"Inspirational, Motivational, Change"
22,I've learned that people will forget what you ...,Maya Angelou,"Inspirational, Life, Motivational"
23,Great spirits have always encountered violent ...,Albert Einstein,"Inspirational, Motivational, Positive"
24,The difference between ordinary and extraordin...,Jimmy Johnson,"Inspirational, Motivational, Positive"